
<div class="container">
    <div class="row center signup-form">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h3 class="header">Login</h3>
                <div class="row">
                    <%= form_for(:sessions, html: {class:"col s12"}) do |f|%>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.email_field  :email%>
                                <%= f.label :email,class:"active"%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.password_field  :password%>
                                <%= f.label :password, class:"active"%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.button "Login" , class:"btn orange waves-light waves-effect"%>
                            </div>
                        </div>
                    <% end %>
                    <%= link_to "Sign Up", new_student_path%>
                </div>
            </div>
        </div>
    </div>
</div>
