
<%= render 'shared/messages', obj: @student %> 

<div class="container">
    <div class="row center signup-form">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h3 class="header"><%= @student.new_record? ? "Sign Up" : "Edit Profile" %></h3>
                <div class="row">
                    <%= form_for(@student, html: {class:"col s12"}) do |f|%>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.text_field  :name, autofocus:true%><br>
                                <%= f.label :name, class:"active"%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.email_field  :email, autofocus:true%>
                                <%= f.label :email,class:"active"%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.password_field  :password, autofocus:true%>
                                <%= f.label :password, class:"active"%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.password_field  :password_confirmation, autofocus:true%>
                                <%= f.label :password_confirmation, class:"active"%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.button(@student.new_record? ? "Sign Up" : "Edit" , class:"btn orange waves-light waves-effect")%>
                            </div>
                        </div>
                    <% end %>
                    <% if @student.new_record? %>
                        <%=session_link %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
